<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Second Hand Electronics</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    {{#if error}}
    <div>
        <div class="errorContainer">
            <p>{{error}}</p>
        </div>
    </div>
    {{/if}}
    <div id="container">

        <nav>
            <ul>
                <!--For all users-->
                <li><a href="/">Home</a></li>
                <li><a href="/catalog">Catalog</a></li>
                {{#if isAuthenticated}}
                <li><a href="/create">Create Offer</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/logout">Logout</a></li>
                {{else}}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                {{/if}}
            </ul>

        </nav>

        <section id="viewCatalog" class="background-img">

            <div class="added-electronics">
                {{#each products}}
                {{> product}}
                {{else}}
                <div class="guest">
                    There are no electronics found...
                </div>
                {{/each}}
            </div>

        </section>

        <footer>@SoftUni - JS Back-End - Second Hand Electronics 2023</footer>
    </div>

</body>

</html>